# Web Framework
Flask==3.0.0

# AI & VectorDB (Core Libraries)
openai>=1.0.0,<2.0.0
chromadb==0.4.24
numpy>=1.21.6,<2.0

# LLM Framework -> Installing only the core and necessary components
langchain
langchain-core
langchain-openai
langchain-community

# Utilities
python-dotenv==1.0.1